@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cinzel&family=Rubik+80s+Fade&family=Rubik+Moonrocks&family=Satisfy&display=swap");

body {
  margin: 0;
}

.ft1{
  color: black;
  font-size: 70px;
}


.bs1{
  height: 50px;
  width: 150px;
  background-color: white;
  font-weight: bold;
}
.bs1:hover{
  background-color: black;
  color: white;
}

.a1 {
  font-family: "Bungee Shade", cursive;
  color: crimson;
  transition: 0.5s ease-in-out;
}


.a1:hover {
  transform: scale(1.05);
}


.q1 {
  font-family: "Cinzel", serif;
  font-weight: bold;
}

.q1:hover {
  color: crimson;
}

.r1 {
  border: none;
}

.btn1 {
  height: 40px;
  width: 220px;
  background-color: white;
  color: crimson;
  border-bottom: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.114),
    0 6px 20px 0 rgba(0, 0, 0, 0.114);
}

.l1 {
  text-align: center;
  margin-top: 50px;
  font-family: "Cinzel", serif;
  font-weight: bold;
  font-size: 50px;
}

.l1:hover{
  text-decoration:underline crimson;
}


.v1 {
  height: 300px;
  width: 300px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.218),
    0 6px 20px 0 rgba(0, 0, 0, 0.234);
}

.v1:hover {
  transform: scale(1.03);
}

.s1 {
  font-family: "Cinzel", serif;
  font-weight: bold;
}

.s2 {
  font-weight: bold;
}

.z1 {
  height: 30px;
  width: 100px;
  color: white;
  background-color: crimson;
  border-radius: 20px;
  font-weight: bold;
  font-size: small;
  border: 1px rgba(0, 0, 0, 0.392) solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.381), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}

.z1:hover {
  background-color: white;
  color: crimson;
  font-weight: bold;
}

.x1 {
  height: 600px;
  width: 1200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.381), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}


.u1{
  height: 30px;
  width: 100px;
}

.o1{
  font-family: "Cinzel", serif;
  background-color: rgb(208, 202, 202);
  margin-top: 50px;

}

.k1{
  height:250px;
  width:200px;
  padding: 60px;
}

.tt1{
  width: 200px;
  height: 30px;
  color: black;
  background-color: orange;
}

.tt1:hover{
  background-color: rgb(236, 203, 143);
}

.rr1{
  font-size: 30px;
  font-family: "Cinzel", serif;

}

.ff1{
  text-decoration: none;
  color: black;
  font-size: medium;
}
.ff1:hover{
  color: crimson;
}

.yy1{
  height: 50px;
  width: 50px;
  margin: 10px;
}

.ww1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.136), 0 6px 20px 0 rgba(0, 0, 0, 0.201);

}

@media (min-width: 200px) and (max-width:600px) {
  .l1 {
    font-size: 30px;
  }

  .z1{
    font-size: 10px;
  }
  .p1 {
    width: 80%;
    height: 80%;
  }
  .v1 {
    height: 250px;
    width: 250px;
  }
  .s1 {
    font-size: small;
  }
  .x1 {
    height: 150px;
    width: 250px;
  }
  .ff1{
    font-size: small;
  }
  .yy1{
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  .ft1{
    color: black;
    font-size: 30px;
  }
  .bs1{
    height: 30px;
    width: 100px;
    background-color: white;
    font-weight: bold;
    font-size: 10px;
  }
  .qq1{
    font-size: small;
  }
}

@media (min-width: 601px) and  (max-width:1300px){
  .p1 {
    width: 80%;
    height: 80%;
  }

  .v1 {
    height: 250px;
    width: 250px;
  }

  .x1 {
    height:300px;
    width:600px;
  }
  .qq1{
    font-size: small;
  }

  
}